
/* Fondo del BorderPane */
.root {
    -fx-background-color: #f4f4f4;
}

/* Cabecera */
.lblHeader {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 10 20;
}

.hbox {
    -fx-background-color: #ffffff;
    -fx-padding: 10 20;
    -fx-border-color: #ddd;
    -fx-border-width: 0 0 1px 0;
    
}

.button {
    -fx-background-color: #4e4e4e;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 10 20;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #7b7b7b;
}



/* Título principal */
.main-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

/* Pie de página */
.lblFooter {
    -fx-font-size: 12px;
    -fx-text-fill: #888;
    -fx-padding: 10;
    -fx-alignment: center;
}

.hbox[alignment='CENTER'] {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10;
}
